@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif !important;
}

html, body {
  height: 100%;
  font-family: 'Teko', sans-serif;
}

body {
  line-height: 1.6;
  font-family: 'Teko', sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  font: inherit;
  font-family: 'Teko', sans-serif !important;
  border: none;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif !important;
}

p, span, div, li {
  font-family: 'Teko', sans-serif !important;
}