@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.6;  /* CAMBIADO de 0.5 a 1.6 */
  font-family: 'Teko', sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  font: inherit;
  border: none;
  background: none;
}